<%- include ('header.ejs') %>
<div class="container">
    <div class="modal fade" id="addcategory" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Add Category</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
    <form action="/home/createcategories" method="POST" class="form-control"> 
    <div class="modal-body">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" id="name" name="name" placeholder="Enter category name..." >
        </div>
    </div> 
        <div class="modal-footer">
            <button type="submit" class="btn btn-success"><i class="fa fa-database"></i> Submit</button>
        </div> 
    </form>
</div>
</div>
</div>
</div>
<br>
<br>

<div class="container col-md-4 card">
    <br>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addcategory">
        Add Category 
    </button>
    <table class="table">
        <thead>
            <tr>
                <th>Category Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% datas.forEach((data) => { %>
                <tr>
                    <td><%= data.name %></td>
                    <td class="text-right">                
                        <a href="/home/cats/update/<%= data._id %>" class="btn btn-primary">Edit</a>
                
                        <a href="/home/cats/delete/<%= data._id %>" class="btn btn-danger" onclick="return confirm('Are you sure to delete this record ?');">Delete</a>
                    </td>
                </tr>
            <% }); %>        
        </tbody>
    </table>
    </div>
    
