<div class="container-fluid">
<div class="container col-md-6 offset-md-3">
    <form action="/cats/createpost" method="POST"> 
    
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Enter category name..." >
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success"><i class="fa fa-database"></i> Submit</button>
        </div> 
            
    </form>
</div>
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>Category Name</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <% datas.forEach((data) => { %>
                <tr>
                    <td><%= data.name %></td>
                    <td>
                        <a href="#" class="btn btn-outline-info"><i class="fa fa-plus fa-lg" aria-hidden="true"></a>
                    </td>
                    <td>
                        <a href="/news/update/<%= data._id %>" class="btn btn-outline-primary"><i class="fa fa-pencil fa-lg" aria-hidden="true"></i></a>
                    </td>
                    <td>
                        <a href="/news/delete/<%= data._id %>" class="btn btn-outline-danger" onclick="return confirm('Are you sure to delete this record ?');"><i class="fa fa-trash fa-lg" aria-hidden="true"></i></a>
                    </td>
                </tr>
            <% }); %>        
        </tbody>
    </table>
    </div>
</div>