<nav class="navbar navbar-expand-lg bg-dark">
    <a href="/home/homenewspage" class="navbar-brand text-white">All Categories</a>
    <a href="/home/news" class="navbar-brand text-white">All News</a>
    <a href="/auth/logout" class="navber text-white"><i class="fa fa-user" aria-hidden="true"></i> Logout</a>
</nav>