<div class="container-fluid col-md-8 mt-3">
<div class="card mb-3">
  <div class="card">
    <div class="card-body">
    <p><%= readnews.catname.name %></p>
      <h5 class="card-title"><%= readnews.title %></h5>
      <img src="/<%= readnews.image %>" class="responsive-img" width="400px" height="300px">
      <p class="card-text"><%= readnews.content %></p>
    </div>
  </div>
</div>
<a href="/home/news" class="btn btn-dark">Back</a>
</div>
