<div class="wrapper">
    <nav id="sidebar-wrapper">
        <div class="sidebar-header">
            <h1>Daily News</h1>
        </div>
        <ul class="sidebar-nav">
            <li class="active">
                <a href="#" data-toggle="sollapse" aria-expanded="false">All Categories</a>
            </li>
            <li class="active">
                <a href="#" data-toggle="sollapse" aria-expanded="false">All News</a>
            </li>
            <li class="active">
                <a href="#" data-toggle="sollapse" aria-expanded="false">Education</a>
            </li>
            <li class="active">
                <a href="#" data-toggle="sollapse" aria-expanded="false">Sport</a>
            </li>
            <li class="active">
                <a href="#" data-toggle="sollapse" aria-expanded="false">Entertainment</a>
            </li>
            <li class="active">
                <a href="#" data-toggle="sollapse" aria-expanded="false">Social</a>
            </li>
            <li class="active">
                <a href="#" data-toggle="sollapse" aria-expanded="false">Economy</a>
            </li>
            <li class="active">
                <a href="#" data-toggle="sollapse" aria-expanded="false">Politic</a>
            </li>
            <li class="active">
                <a href="#" data-toggle="sollapse" aria-expanded="false">Weather</a>
            </li>
        </ul>
    </nav>
</div>